@charset "UTF-8";

body
{
	background: #000000;
	font-family: Verdana, Geneva, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, li
{
	margin-left: 15px;
}

#wrapper
{
	width: 66%;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #778899;
}

#right-column
{
	float: right;
	width: 66%;
	height: 600px;
	background: #D3D3D3;
}

#left-column
{
	float: left;
	width: 33%;
	height: 600px;
	background: #C0C0C0
}

#footer
{
	height: 80px;
}

#banner
{
	height: 120px;
	background: #708090;
}

#bottom
{
	width: 100%;
	height: 20px;
	background: #000000;
}

.box
{
	height: 150px;
	width: 33%;
	float: left;
	background: #D2B48C;
	margin: 15px;
	opacity: .5;
}

.clear
{
	clear: both;
}