@charset "UTF-8";

@import
{
	url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro");
}

body
{
	color: #FFFFFF;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, li
{
	margin-left: 15px;
	margin-top: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Source Code Pro", monospace;
}

#wrapper
{
	width: 100%;
	background: #1258DC;
}

#right-column
{
	float: none;
	width: 100%;
	height: 1200px;
	background: #D4F7EC;
	color: #000000;
}

#left-column
{
	float: none;
	width: 100%;
	height: 120px;
	background: #448D76;
}

#footer
{
	height: 80px;
	background: #1258DC;
}

#banner
{
	height: 100px;
	background: #090934;
}

.box
{
	width: 90%;
	min-height: 120px;
	background: #2E2FE3;
	margin: 15px;
	opacity: 1;
	color: #FFFFFF;
}

.button
{
	font-size: x-large;
	color: #FFFFFF;
	text-decoration: none;
	background: #1258DC;
	display: block;
	width: 25%;
	float: left;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 3px #808080;
}

.button:hover
{
	box-shadow: 5px 5px 3px #000000;
}

.clear
{
	clear: both;
}